{% extends "base.html" %}
{% load static %}
{% block title %}Login page{% endblock title %}

{% block main-content %}
<h1>TODO List - LOGIN</h1>

<form action="" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br> <br>
    <button type="submit">Login</button>
</form>

<br>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<br> 

<a href="{% url 'register' %}">Register Now!</a>


{% endblock main-content %}