{% extends "base.html" %}
{% load static %}
{% block title %}TODO Page{% endblock title %}

{% block main-content %}
<div style="display: flex; justify-content: center; align-items: center; ">
  <div>
    {% for i in data %}
    <h2 style="text-transform: uppercase;">Logedin as <span style="color: red;">{{i.username}}</span></h2>
    {% endfor %}
  </div>
  <div>
    <button><a href="{% url 'logout' %}">LogOut</a></button>
  </div>

</div>


<h2>Add a New Task</h2>
<form action="{% url 'add_todo' %}" method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>Task Title:</td>
      <td><input type="text" name="title"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" name="description"></td>
    </tr>
    <tr>
      <td>Priority:</td>
      <td><input type="number" name="priority"></td>
    </tr>
  </table>
  <button type="submit">Add Task</button>
</form>

<h2>Your Tasks</h2>

<form method="get" action="">
  <label for="myDropdown">Filter:</label>
  <select id="myDropdown" name="filter" onchange="this.form.submit()">
    <option value="All" {% if request.GET.filter == "All" or not request.GET.filter %}selected{% endif %}>All</option>
    <option value="Pending" {% if request.GET.filter == "Pending" %}selected{% endif %}>Work Pending</option>
    <option value="Done" {% if request.GET.filter == "Done" %}selected{% endif %}>Work Done</option>
  </select>
</form>


{% if todos %}
<table cellpadding="2">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <td>
        <form action="{% url 'priority' todo.id %}" method="get" style="display:inline;">
        <input type="number" name="priority" placeholder="{{todo.priority}}" disabled>
      </form>
    </td>
      <td><strong>{{ todo.title }}</strong></td>
      <td>{{ todo.description }}</td>
      <td>
        {% if todo.completed %}
        <span style="color: green; font-weight: bold;">DONE</span>
        {% else %}
        <form action="{% url 'mark_done' todo.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Mark as Done</button>
        </form>
        {% endif %}
      </td>
      <td>
        <form action="{% url 'update_todo' todo.id %}" method="get" style="display:inline;">
          <button type="submit" {% if todo.completed %}disabled{% endif %}>Edit</button>
        </form>
      </td>
      <td>
        <form action="{% url 'delete_todo' todo.id %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No tasks yet.</p>
{% endif %}

{% endblock main-content %}