{% extends "base.html" %}
{% block title %}Update Task{% endblock title %}

{% block main-content %}
<h2>Update Task</h2>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Task Title:</td>
            <td><input type="text" name="title" value="{{ todo.title }}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="description" value="{{ todo.description }}"></td>
        </tr>
        <tr>
            <td>Priority:</td>
            <td><input type="number" name="priority" placeholder="{{ todo.priority }}"></td>
        </tr>
    </table>
    <br>
    <button type="submit">Update</button>
</form>
<br>
<a href="{% url 'todo' %}">Back to To-Do List</a>
{% endblock main-content %}
